frontend api-frontend
		bind                    0.0.0.0:5002 name 0.0.0.0:5002
		mode                    http
		log                     global
		timeout client          5000
		option http-no-delay
		default_backend api-backend

backend api-backend
		mode                    http
		log                     global
		timeout connect         5000
		timeout server          5000
		balance leastconn
		option httpchk GET /health-check
		retries                 3
		retry-on conn-failure empty-response junk-response 0rtt-rejected
		option redispatch 1
		option http-no-delay
		server                  api1:0 api1:5002

frontend tts-frontend
		bind                    0.0.0.0:5003 name 0.0.0.0:5003
		mode                    http
		log                     global
		timeout client          5000
		option http-no-delay
		default_backend tts-backend

backend tts-backend
		mode                    http
		log                     global
		timeout connect         5000
		timeout server          5000
		balance roundrobin
		option httpchk GET /health-check
		retries                 3
		retry-on conn-failure empty-response junk-response 0rtt-rejected
		option redispatch 1
		option http-no-delay

		server                  tts1:0 tts1:5003

frontend blips-frontend
		bind                    0.0.0.0:5004 name 0.0.0.0:5004
		mode                    http
		log                     global
		timeout client          5000
		option http-no-delay
		default_backend blips-backend

backend blips-backend
		mode                    http
		log                     global
		timeout connect         5000
		timeout server          5000
		balance roundrobin
		option httpchk GET /health-check
		retries                 3
		retry-on conn-failure empty-response junk-response 0rtt-rejected
		option redispatch 1
		option http-no-delay

		server                  blips:0 blips:5004

frontend radio-frontend
		bind                    0.0.0.0:5005 name 0.0.0.0:5005
		mode                    http
		log                     global
		timeout client          5000
		option http-no-delay
		default_backend radio-backend

backend radio-backend
		mode                    http
		log                     global
		timeout connect         5000
		timeout server          5000
		balance roundrobin
		option httpchk GET /health-check
		retries                 3
		retry-on conn-failure empty-response junk-response 0rtt-rejected
		option redispatch 1
		option http-no-delay

		server                  radio:0 radio:5005

listen stats
        bind                    0.0.0.0:8888 name 0.0.0.0:8888
        mode                    http
        maxconn                 25
        timeout client          10000
        stats enable
        stats refresh 5s
        stats uri     /
        stats scope api-frontend
        stats scope api-backend
        stats scope tts-frontend
        stats scope tts-backend
        stats show-desc /tg/Station 13 TTS
